/* Header */
.menu {
    display: flex;
    margin: auto;
}

.menu h1 {
    /* background-color: chocolate; */
    font-size: 32px;
    width: fit-content;
    
}

.menu .contents {
    margin-left: auto;
    margin-top: auto;
    font-size: 24px;
    text-align: right;
    width: fit-content;    
}

/* footer */
.contact-me {
    display: flex;
    margin: auto;
    height: auto;
    margin-left: 35%;
}

.email {
    width: fit-content;
    margin-right: 3%;
}

.phone {
    width: fit-content;
    margin-left: 3%;
}
