:root {
    --default-background: lightblue;
    --body-background: aliceblue;
    --title-head: #1da1f2;
}

/* Header & body */
.menu {
    background-color: var(--default-background);
    display: flex;
    margin: auto;
}

.menu h1 {
    background-color: var(--title-head);
    font-size: 48px;
    width: fit-content;
    
}

.menu .contents {
    margin-left: auto;
    margin-top: auto;
    font-size: 24px;
    text-align: right;
    width: fit-content;
}

body {
    background-color: var(--body-background);
}

/* Biography */
.bio-image {
    border-style: solid;
}

.bio-info {
    border-style: solid;
    
}


/* footer */
footer {
    background-color: var(--default-background);
    display: block;
    margin: auto;
}

.contact-me {
    display: flex;
    justify-content: space-between;
    width: fit-content;
    margin-left: 35%;
}
