:root {
    --default-background: lightblue;
    --body-background: aliceblue;
    --title-head: #1da1f2;
}

/* Header & body */
.menu {
    background-color: var(--default-background);
    display: flex;
    margin: auto;
}

.menu h1 {
    background-color: var(--title-head);
    font-size: 48px;
    width: fit-content;
    
}

.menu .contents {
    margin-left: auto;
    margin-top: auto;
    font-size: 24px;
    text-align: right;
    width: fit-content;
}

body {
    background-color: var(--body-background);
}

/* Biography */

.my-bio {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.bio-image {
    width: 250px;
    
}

img {
    width: 100%;
    margin-left: 10%;
    height: auto;
}
.bio-info {
    border-style: solid;
    margin-left: 5%;
    width: 700px;
}

/* Past Projects */

.projects-container {
    display: flex;
    flex-direction: row;

}

.project-card1 {
    border-style: solid;
    width: 22.4%;
    height: 200px;
    background-image: url("../images/study-guide.png");
    background-color: var(--default-background);
}

.project-card2 {
    border-style: solid;
    margin: 40px;
    width: 22.4%;
    height: 100px;
    background-image: url();
    background-color: var(--default-background);
}

.riseUp {
    background-image: url("../images/clouds.avif");
}

.project-info {
    background-color: var(--body-background);
    width: fit-content;
}

.project-info .name {
    font-weight: bold;
}


/* footer */
footer {
    background-color: var(--default-background);
    display: block;
    margin: auto;
}

.contact-me {
    display: flex;
    justify-content: space-between;
    width: fit-content;
    margin-left: 35%;
}

@media screen and (max-width: 768px) {

    /* menu */
    .menu {
        background-color: var(--default-background);
        display: flex;
        margin: auto;
    }
    
    .menu h1 {
        background-color: var(--title-head);
        font-size: 22.5px;
        width: fit-content;
        
    }
    
    .menu .contents {
        margin-left: auto;
        margin-top: auto;
        font-size: 14px;
        text-align: right;
        width: fit-content;
    }

    /* biography */
    .my-bio {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }
    
    .bio-image {
        width: 250px;
        
    }
    
    img {
        width: 80%;
        margin-left: 30%;
        height: auto;
    }
    .bio-info {
        border-style: solid;
        margin-left: 1%;
        margin-right: 1%;
        width: 700px;
    }

    
    /* Past Projects */
    .projects-container {
        display: flex;
        flex-direction: row;

    }

    .project-card1 {
        border-style: solid;
        width: 11.42;
        height: 100px;
        background-image: url("../images/study-guide.png");
        background-color: var(--default-background);
    }

    .project-card2 {
        border-style: solid;
        margin: 40px;
        width: 11.2%;
        height: 50px;
        background-image: url();
        background-color: var(--default-background);
    }

    .project-info {
        background-color: var(--body-background);
        width: fit-content;
        height: fit-content;
        font-size: 10px;
    }

    .project-info .name {
        font-weight: bold;
    }

    /* footer */
    .contact-me {
        display: flex;
        justify-content: space-between;
        width: fit-content;
        margin-left: 5%;
    }    
}
